# Python ignores
__pycache__/
*.pyc
.venv/
env/
venv/

# JavaScript ignores
node_modules/
.pnp
.pnp.js
dist/
build/

# Environment variables
.env
.env.local

# DB data
.idea/
**/ .idea/
backend/todo.db
*.db

# Code coverage reports
.coverage
coverage.xml
htmlcov/
.pytest_cache/
